$dark: #121212;
$primary: #e4c1ae;
$white: #ffffff;

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: $dark;
    background-color: $white;
    font-size: 16px;
}

h1 {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 24px;
}

p {
    line-height: 24px;
}
img {
    width: 100%;
}

section {
    padding: 96px 0;
}
.btn {
    color: $white;
    background-color: $primary;
    border: none;
    border-radius: 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    width: 128px;
    margin-top: 16px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(164, 138, 124);
    }
    &:focus,
    &:active {
        background-color: rgb(164, 138, 124);
        -webkit-box-shadow: inset 0px 5px 5px rgb(23 23 23 / 30%);
        box-shadow: inset 0px 5px 5px rgb(23 23 23 / 30%);
    }
    &:focus-visible {
        outline: none;
    }
}

.btn-wider{
    width: 180px;
}

.btn-cross{
    position: absolute;
    right: 46px;
    top: 46px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    &:before, &:after {
        position: absolute;
        left: 5px;
        content: ' ';
        height: 15px;
        width: 2px;
        background-color: #000;
        border-radius: 2px;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}
// **********************************
// *********** MAIN-SECTION *********
// **********************************
.box {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-img {
        max-width: 505px;
        width: 100%;
    }
    &-desc {
        max-width: 380px;
        width: 100%;
        padding-left: 20px;
    }
}

// **********************************
// *********** POPUP ****************
// **********************************
#overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgb(18 18 18 / 50%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;

    &.show{
        display: block;
    }
}
#popup{
    display: none;
}

.popup-content{
    background-color: $white;
    max-width: 920px;
    margin: 0 auto;
    padding: 56px 95px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 3;
}
